*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar ul{   
    list-style: none; 
    background: linear-gradient(180deg, rgb(35,73,77),rgb(209,207,186),rgb(110,114,74)); 
    position: fixed;   
    width: 100%;
    display: flex;
}

.navbar li{
    display: inline-block;
    position:relative;
}

#lowTier-monuments{
    margin-left: 22vh;
}

.navbar a{   
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;   
    padding: 2.8vh;
    font-size: 2.5vh; 
    transition: 0.5s;       
}

.navbar ul li ul{
    width: 100%;
    position: absolute;
    display: none; 
}

.navbar ul li ul li{
    display: block;
}

.navbar ul li:hover ul{
    display: block;
} 

.navbar a:hover:not(#logo){
    background-color:rgb(35,73,77);
    transform: scale(1.05);   
}

#logo{
    background-image: url(images/RustiVerseLogo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.9);
    margin-left: 4.5vh;
    margin-top: 1.3vh;
}