*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar ul{   
    position: fixed;
    display: flex;
    list-style: none; 
    background: linear-gradient(180deg, rgb(20, 4, 4),rgb(138, 28, 28));  
    width: 100%;  
    z-index: 999;
    box-shadow: 1vh 1vh 5vh rgb(0, 0, 0);
}

.navbar li{
    display: inline-block;
    position:relative;
    transition: 0.5s;
}


#lowTier-monuments{
    margin-left: 43.3vh;
}

.navbar li:hover{
    background-color:hsl(360, 100%, 45%);
    transform: scale(1.05); 
    box-shadow: 0 0 2vh rgba(255, 255, 255, 0.8), 0 0 2vh rgba(255, 255, 255, 0.8), 0 0 2vh rgba(255, 255, 255, 0.8); 
}

.navbar ul li ul{
    width: 100%;
    position: absolute;
    display: none; 
}

.navbar li:hover ul{
    display: block;
} 

.navbar ul li ul li{
    display: block;
    border: 0.3vh white groove;
}

.navbar a{   
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;   
    padding: 2.2vh;
    font-size: 2.5vh; 
    text-shadow: 1vh 1vh 4vh rgb(0, 0, 0);
    user-select: none;
    transition: 0.5s;
}

.navbar a:hover{
    text-shadow: 0 0 2vh rgba(255, 255, 255, 0.8), 0 0 2vh rgba(255, 255, 255, 0.8), 0 0 2vh rgba(255, 255, 255, 0.8);
}

#logo-container{
    display: flex;
    align-items: center;
}

#logo{
    position: absolute;
    background-image: url(images/LogoResources/RustiVerse.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.1);
    left: 0.5vh;
    width: 20vh;
    height: 9vh; 
}  