*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar ul{   
    position: fixed;
    display:flex;
    flex-wrap: wrap;
    list-style: none; 
    width: 100%;
    z-index: 3;
    background: linear-gradient(180deg, rgb(20, 4, 4),rgb(138, 28, 28));    
    box-shadow: 1vh 1vh 3vh rgb(0, 0, 0);
}

.navbar li{
    display: inline-block;
    position:relative;
    transition: 0.5s;
}

.navbar .main-item:nth-child(3){
    margin-left: 29%;
}

#lowTier-monuments{
    z-index: 6;
}

#midTier-monuments{
    z-index: 5;
}

#highTier-monuments{
    z-index: 4;
}

.navbar li:hover{
    background-color:hsl(360, 100%, 45%);
    transform: scale(1.05); 
    box-shadow: 0 0 2vh rgba(255, 255, 255, 0.8), 0 0 2vh rgba(255, 255, 255, 0.8), 0 0 2vh rgba(255, 255, 255, 0.8);
    border-radius: 7%; 
}

.navbar ul li ul{
    width: 100%;
    position: absolute;
    display: none; 
}

.navbar li:hover ul{
    display: block;
} 

.navbar ul li ul li{
    display: block;
    border: 0.3vh white groove;
}

.navbar a{   
    display: block;
    color: white;
    font: italic 2.2vh Impact, sans-serif;
    text-decoration: none;
    user-select: none;
    width: 100%;
    padding: 2.2vh;
    text-shadow: 1vh 1vh 4vh rgb(0, 0, 0);
    transition: 0.5s;
}

.navbar a:hover{
    text-shadow: 0 0 2vh rgba(255, 255, 255, 0.8), 0 0 2vh rgba(255, 255, 255, 0.8), 0 0 2vh rgba(255, 255, 255, 0.8);
}

#logo-container{
    display: flex;
    align-items: center;
}

#logo{
    position: absolute;
    background-image: url(images/LogoResources/RustiVerse.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    left: 0.5vh;
    width: 20vh;
    height: 9vh; 
    user-select: none;
}

.close-navbar{
    display: none;
}



@media screen and (max-width: 768px) {
    
    .navbar ul {
        background: linear-gradient(180deg,rgb(138, 28, 28),rgb(20, 4, 4));
        flex-direction: column;
        width: 100%;
        height: 100%;   
        display: none; 
    }

    .navbar ul .close-navbar{
        display: block;
        position: absolute;
        font: normal bold 5.5vh sans-serif;
        color: white;
        left: 0.5vh;
        top: 0.5vh;
        padding: 1.7vh;
        z-index: 1;
    }

    @keyframes slideInFromRight {
        0% {
            right: -100%;         
        }
        100% {
            right: 0;
        }
    }

    @keyframes slideInFromLeft {
        0% {
            right: 0;         
        }
        100% {
            right: -100%;
        }
    }

    .main-item{ 
        padding-top: 1em;
    }

    .navbar li {
        width: 100%;
    }

    #lowTier-monuments {
        margin-left: 0;
        margin-top: 0.5vh;        
    }

    .navbar li:hover {
        transform: none;
        border-radius: 5%;
        background: none;
        box-shadow: none;
    }  

    .navbar li:hover ul {
        display: none; 
    }

    /* #lowTier-monuments ul,
    #midTier-monuments ul,
    #highTier-monuments ul
    {
        margin-left: 18.3vh;
        top: 0;      
    } */

    /* .navbar ul li ul {
        position:fixed;
        display: none;
        width: auto;
        height: auto;
        box-shadow: none;
    } */

    /* .navbar ul li ul li{
        border: 0;
        padding-top: 1vh;
        padding-right: 1vh;
        padding-left: 1vh;
    } */

    .navbar a:not(#logo){
        text-align: center;
        font-size: 2vh;
        padding: 1.5vh;
        width: 50%;
        outline: 0.2vh white solid;
        border-radius: 5%;
        margin-left: 25%;
        margin-top: 0.5vh;
    }

    .navbar a:hover:not(#logo){
        background-color:hsl(360, 100%, 45%);
        box-shadow: 0 0 2vh rgba(255, 255, 255, 0.8), 0 0 2vh rgba(255, 255, 255, 0.8), 0 0 2vh rgba(255, 255, 255, 0.8);
    }
  
    #logo {
        position: static; 
        display: block;
        transform: none; 
        width: 70%;   
        padding: 8vh;
        transform: scale(1.10); 
        margin-left: 14.5%;
        margin-top: 1vh;
    }   
  } 


  @media screen and (min-width: 769px) and (max-width: 1281px) {

    #logo{      
        margin-left: 1vh;
        margin-bottom: 0.5vh; 
    }

    #lowTier-monuments{
        margin-left: 22vh;
    }
}