*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(11,59,74,255)
}

.map{
    background-image: url(images/Map.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.map:hover{
    cursor:move;
}

#coordinates {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    font-size: 2vh;
    font-weight: bolder;
    font-family: Arial, sans-serif;
}

.monument {
    background-color: rgba(95, 21, 21, 0.88);
    width: 35vh;
    height: 35vh;
    display: none;
    position: fixed;
    font-family: fantasy;
}

.monument-name{
    height: 4vh;
    background: linear-gradient(180deg, rgb(20, 4, 4),rgba(95, 21, 21, 0.88));
    width: 100%;
    color: white;
    font-size: 2.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center; 
}

.monument-image{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 24vh;
    width: 50%;
    border-radius: 10%;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-bottom: 1vh;
}

.monument-desc{
    height: 27vh;
    width: 50%;
    color: white;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2vh;
}

.moreDetails{
    height: 4vh;
    background: linear-gradient(180deg, rgba(95, 21, 21, 0.88),rgb(20, 4, 4));
    width: 100%;
    font-size: 2.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease-in-out;
}

.moreDetails a{
    color: white;
    text-decoration: none;
    transition: 0.7s ease-in-out;
}

.moreDetails:hover {
    background: white;
}

.moreDetails:hover a {
    color: black;
}