*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(11,59,74,255)
}

.map{
    background-image: url(images/map3.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden
}

.map:hover{
    cursor:move;
}

#coordinates {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
}

.monument {
    background-color: rgb(43, 42, 42);
    width: 30vh;
    height: 30vh;
    display: none;
    position: fixed;
}

.monument-name{
    height: 3vh;
    background-color: black;
    width: 100%;
    color: white;
    font-size: 2.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    
}

.monument-image{
    background-image: url(images/outpostNew.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 24vh;
    width: 15vh;
}

.monument-desc{
    height: 20vh;
    width: 15vh;
    color: white;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.moreDetails{
    height: 3vh;
    background-color: black;
    width: 100%;
    font-size: 2.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreDetails a{
    color: white;
    text-decoration: none;
}